body {
    background-color: #9bced1;
    background: url('https://images.pexels.com/photos/1854664/pexels-photo-1854664.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover ;
    

}


h1{
    color: rgb(151, 71, 53);
    font-size: 50px;
    text-decoration:underline;
 
}

a{
    font-size: 20px;
    color:black;
}
a:hover{
    font-size: 25px;
    color:rgb(230, 227, 188);
}


#title,.block{
    text-align: center;
    margin: auto;
    
}
#title{
    margin-top: 40px;
    margin-bottom: 30px;
}

.block{
    width : 200px;
    background-color: #c09c7a;
    border-radius: 10px;
    padding:10px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.recipee{
    margin-bottom: 20px;
}
